# Importación de Bibliotecas

In [3]:
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

#Con este código podremos ver las gráficar desde nuestro cuadernillo de trabajo.
%matplotlib inline

# Lectura de Archivos

In [4]:
Canal = pd.read_csv('./Canal.csv', header=1)
Canal.head()

   #          Fecha  Abs Pres, kPa  Temp, C  Water Level, meters
0  1  8/16/18 11:15        112.032   29.152                0.360
1  2  8/16/18 11:30        111.990   27.567                0.356
2  3  8/16/18 11:45        111.928   27.272                0.350
3  4  8/16/18 12:00        111.899   27.173                0.347
4  5  8/16/18 12:15        111.870   27.075                0.344

In [5]:
Estacion = pd.read_csv('./Estacion.csv', header=1)
Estacion.head()

   #          Fecha  Abs Pres, kPa  Temp, C  Water Level, meters
0  1  8/16/18 12:30        104.359   29.252               -0.340
1  2  8/16/18 12:45        104.243   28.754               -0.351
2  3  8/16/18 13:00        104.255   28.655               -0.350
3  4  8/16/18 13:15        104.239   28.655               -0.352
4  5  8/16/18 13:30        104.255   28.655               -0.350

In [6]:
Salinidad = pd.read_csv('./Salinidad.csv', header=1)
Salinidad.head()

,#,Fecha,"Cond Low Rng, S/cm","Cond High Rng, S/cm","Temp, C","Specific Conductance, S/cm","Salinity, ppt"
0,1,8/16/18 12:45,33686,54525.5,28.54,50942.8,33.4310
1,2,8/16/18 13:00,33686,54525.5,28.43,51048.0,33.5085
2,3,8/16/18 13:15,33686,54525.5,28.35,51124.8,33.5651
3,4,8/16/18 13:30,33686,54525.5,28.31,51163.3,33.5935
4,5,8/16/18 13:45,33686,54525.5,28.28,51192.2,33.6148

# Preparación de los Datos

## Eliminar Datos Innecesarios

En este caso, la columna # es un dato innecesario, así que procedemos a eliminarlo dicha información

In [7]:
Temp = Canal.drop('#', axis=1)
Canal = Temp
Canal.head()

           Fecha  Abs Pres, kPa  Temp, C  Water Level, meters
0  8/16/18 11:15        112.032   29.152                0.360
1  8/16/18 11:30        111.990   27.567                0.356
2  8/16/18 11:45        111.928   27.272                0.350
3  8/16/18 12:00        111.899   27.173                0.347
4  8/16/18 12:15        111.870   27.075                0.344

In [8]:
Temp = Estacion.drop('#', axis=1)
Estacion = Temp
Estacion.head()

           Fecha  Abs Pres, kPa  Temp, C  Water Level, meters
0  8/16/18 12:30        104.359   29.252               -0.340
1  8/16/18 12:45        104.243   28.754               -0.351
2  8/16/18 13:00        104.255   28.655               -0.350
3  8/16/18 13:15        104.239   28.655               -0.352
4  8/16/18 13:30        104.255   28.655               -0.350

In [9]:
Temp = Salinidad.drop('#', axis=1)
Salinidad = Temp
Salinidad.head()

,Fecha,"Cond Low Rng, S/cm","Cond High Rng, S/cm","Temp, C","Specific Conductance, S/cm","Salinity, ppt"
0,8/16/18 12:45,33686,54525.5,28.54,50942.8,33.4310
1,8/16/18 13:00,33686,54525.5,28.43,51048.0,33.5085
2,8/16/18 13:15,33686,54525.5,28.35,51124.8,33.5651
3,8/16/18 13:30,33686,54525.5,28.31,51163.3,33.5935
4,8/16/18 13:45,33686,54525.5,28.28,51192.2,33.6148

## Cambio de Formato

Entre nuestros datos tenemos una columna para la fecha y hora, sin embargo, el formato que presenta es OBJECT (se percibe como texto) cuando en realidad debe ser DATETIME para tener un manejo de la información mucho más sencillo.

In [10]:
Canal['Fecha'] = pd.to_datetime(Canal['Fecha'])
Canal.dtypes

Fecha                  datetime64[ns]
Abs Pres, kPa                 float64
Temp, C                       float64
Water Level, meters           float64
dtype: object

In [11]:
Estacion['Fecha'] = pd.to_datetime(Estacion['Fecha'])
Estacion.dtypes

Fecha                  datetime64[ns]
Abs Pres, kPa                 float64
Temp, C                       float64
Water Level, meters           float64
dtype: object

In [12]:
Salinidad['Fecha'] = pd.to_datetime(Salinidad['Fecha'])
Salinidad.dtypes

Fecha                         datetime64[ns]
Cond Low Rng, S/cm                     int64
Cond High Rng, S/cm                  float64
Temp, C                              float64
Specific Conductance, S/cm           float64
Salinity, ppt                        float64
dtype: object

## Renombrar Columnas

Modificaremos los encabezados de cada columna, de modo que presenten nombres más cortos y sin caracteres que puedan ocasionar problema al leerlos.

In [20]:
Canal.columns = ['Fecha', 'PresAbs', 'Tempe', 'NivelAgua']
Canal.head()

                Fecha  PresAbs   Tempe  NivelAgua
0 2018-08-16 11:15:00  112.032  29.152      0.360
1 2018-08-16 11:30:00  111.990  27.567      0.356
2 2018-08-16 11:45:00  111.928  27.272      0.350
3 2018-08-16 12:00:00  111.899  27.173      0.347
4 2018-08-16 12:15:00  111.870  27.075      0.344

In [21]:
Estacion.columns = ['Fecha', 'PresAbs', 'Tempe', 'NivelAgua']
Estacion.head()

                Fecha  PresAbs   Tempe  NivelAgua
0 2018-08-16 12:30:00  104.359  29.252     -0.340
1 2018-08-16 12:45:00  104.243  28.754     -0.351
2 2018-08-16 13:00:00  104.255  28.655     -0.350
3 2018-08-16 13:15:00  104.239  28.655     -0.352
4 2018-08-16 13:30:00  104.255  28.655     -0.350

In [22]:
Salinidad.columns = ['Fecha', 'CondLow', 'CondHigh', 'Tempe', 'ConduEspec', 'Sali']
Salinidad.head()

                Fecha  CondLow  CondHigh  Tempe  ConduEspec     Sali
0 2018-08-16 12:45:00    33686   54525.5  28.54     50942.8  33.4310
1 2018-08-16 13:00:00    33686   54525.5  28.43     51048.0  33.5085
2 2018-08-16 13:15:00    33686   54525.5  28.35     51124.8  33.5651
3 2018-08-16 13:30:00    33686   54525.5  28.31     51163.3  33.5935
4 2018-08-16 13:45:00    33686   54525.5  28.28     51192.2  33.6148

# Creación de Gráficas

Crearemos algunas gráficas para ver la correlación entre los diversos factores, todo esto para distintos períodos de tiempo (un día y una semana).
Entre las gráficas a crear tenermos:
    - Nivel del mar en la estación y del canal.
    - Salinidad y nivel del mar junto a la estación.
    - Temperatura del agua en la estación y el canal.
    - Nivel del mar y salinidad.

## Datos por Períodos

Haremos dos nuevos arreglos, uno de ellos con un período de un día; el otro, una semana.

### Canal

In [16]:
#Arreglo para un sólo día
DiaCanal = Canal[(Canal['Fecha'] > '2018-08-30 23:59:59') & 
                 (Canal['Fecha'] < '2018-09-01 00:00:00')]

#Arreglo para una semana
SemCanal = Canal[(Canal['Fecha'] > '2018-08-31 23:59:59') & 
                 (Canal['Fecha'] < '2018-09-08 00:00:00')]

### Estación

In [17]:
#Arreglo para un sólo día
DiaEstacion = Estacion[(Estacion['Fecha'] > '2018-08-30 23:59:59') & 
                 (Estacion['Fecha'] < '2018-09-01 00:00:00')]

#Arreglo para una semana
SemEstacion = Estacion[(Estacion['Fecha'] > '2018-08-31 23:59:59') & 
                 (Estacion['Fecha'] < '2018-09-08 00:00:00')]

### Salinidad

In [18]:
#Arreglo para un sólo día
DiaSalinidad = Salinidad[(Salinidad['Fecha'] > '2018-08-30 23:59:59') & 
                 (Salinidad['Fecha'] < '2018-09-01 00:00:00')]

#Arreglo para una semana
SemSalinidad = Salinidad[(Salinidad['Fecha'] > '2018-08-31 23:59:59') & 
                 (Salinidad['Fecha'] < '2018-09-08 00:00:00')]

## Gráficas

In [19]:
#Nivel del mar en la estación y el canal
x = DiaEstacion['Fecha']
y1 = DiaEstacion['NivelAgua']
y2 = DiaCanal['NivelAgua']