In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# importar datosd

In [2]:
old = pd.read_csv('sargento-old-080918.csv', header=None, skiprows=2 )
old.head()

   0                    1        2       3      4
0  1  08/16/2018 12:30:00  104.359  29.252 -0.340
1  2  08/16/2018 12:45:00  104.243  28.754 -0.351
2  3  08/16/2018 13:00:00  104.255  28.655 -0.350
3  4  08/16/2018 13:15:00  104.239  28.655 -0.352
4  5  08/16/2018 13:30:00  104.255  28.655 -0.350

In [3]:
pd.read_csv?

In [4]:
canal = pd.read_csv('sargento-canal.csv', header=None, skiprows=1)
canal.head()

   0                    1        2       3      4
0  1  08/16/2018 11:15:01  112.032  29.152  0.360
1  2  08/16/2018 11:30:02  111.990  27.567  0.356
2  3  08/16/2018 11:45:03  111.928  27.272  0.350
3  4  08/16/2018 12:00:04  111.899  27.173  0.347
4  5  08/16/2018 12:15:05  111.870  27.075  0.344

In [5]:
salinidad=pd.read_csv('salinidad_080918.csv', header=None, skiprows=2)
salinidad.head()

   0                    1      2        3      4        5        6
0  1  08/16/2018 12:45:00  33686  54525.5  28.54  50942.8  33.4310
1  2  08/16/2018 13:00:00  33686  54525.5  28.43  51048.0  33.5085
2  3  08/16/2018 13:15:00  33686  54525.5  28.35  51124.8  33.5651
3  4  08/16/2018 13:30:00  33686  54525.5  28.31  51163.3  33.5935
4  5  08/16/2018 13:45:00  33686  54525.5  28.28  51192.2  33.6148

# Trabajo de datos

In [6]:
canal.columns = ['#','Fecha','Presion','Temp','Nivel']
canal.head()

   #                Fecha  Presion    Temp  Nivel
0  1  08/16/2018 11:15:01  112.032  29.152  0.360
1  2  08/16/2018 11:30:02  111.990  27.567  0.356
2  3  08/16/2018 11:45:03  111.928  27.272  0.350
3  4  08/16/2018 12:00:04  111.899  27.173  0.347
4  5  08/16/2018 12:15:05  111.870  27.075  0.344

In [7]:
old.columns = ['#','Fecha','Presion','Temp','Nivel']
old.head()

   #                Fecha  Presion    Temp  Nivel
0  1  08/16/2018 12:30:00  104.359  29.252 -0.340
1  2  08/16/2018 12:45:00  104.243  28.754 -0.351
2  3  08/16/2018 13:00:00  104.255  28.655 -0.350
3  4  08/16/2018 13:15:00  104.239  28.655 -0.352
4  5  08/16/2018 13:30:00  104.255  28.655 -0.350

In [8]:
salinidad.columns = ['#','Fecha','Presion','Temp','Nivel','conductancia especifica, s/cm,','sal, ppt',]
old.head()

   #                Fecha  Presion    Temp  Nivel
0  1  08/16/2018 12:30:00  104.359  29.252 -0.340
1  2  08/16/2018 12:45:00  104.243  28.754 -0.351
2  3  08/16/2018 13:00:00  104.255  28.655 -0.350
3  4  08/16/2018 13:15:00  104.239  28.655 -0.352
4  5  08/16/2018 13:30:00  104.255  28.655 -0.350

# cambiar formato de fecha a tiempo

In [9]:
canal['Fecha'] = pd.to_datetime(canal['Fecha'])
canal.dtypes

#                   int64
Fecha      datetime64[ns]
Presion           float64
Temp              float64
Nivel             float64
dtype: object

In [10]:
old['Fecha'] = pd.to_datetime(old['Fecha'])
old.dtypes

#                   int64
Fecha      datetime64[ns]
Presion           float64
Temp              float64
Nivel             float64
dtype: object

In [11]:
salinidad['Fecha'] = pd.to_datetime(salinidad['Fecha'])
salinidad.dtypes

#                                          int64
Fecha                             datetime64[ns]
Presion                                    int64
Temp                                     float64
Nivel                                    float64
conductancia especifica, s/cm,           float64
sal, ppt                                 float64
dtype: object

# Datos de la estacion, del canal y de la salinidad

In [12]:
#un dia
diacanal = canal[(canal['Fecha'] > '09/07/2018 00:04') &  (canal['Fecha'] < '09/07/2018 23:51')]

diaold = old[(old['Fecha'] < '09/07/2018 23:45')& (old['Fecha'] > '09/07/2018 00:00')] 

diasal = salinidad[(salinidad['Fecha'] <'09/07/2018 23:45')&( salinidad['Fecha']>'09/07/2018 00:00')]

In [13]:
diacanal.head()

         #               Fecha  Presion    Temp  Nivel
2066  2067 2018-09-07 00:19:00  119.499  27.173  1.103
2067  2068 2018-09-07 00:34:00  119.369  27.173  1.090
2068  2069 2018-09-07 00:49:00  119.083  27.173  1.062
2069  2070 2018-09-07 01:04:00  118.667  27.173  1.020
2070  2071 2018-09-07 01:19:00  118.160  27.173  0.970

In [14]:
diaold['Fecha'].head()

2063   2018-09-07 00:15:00
2064   2018-09-07 00:30:00
2065   2018-09-07 00:45:00
2066   2018-09-07 01:00:00
2067   2018-09-07 01:15:00
Name: Fecha, dtype: datetime64[ns]

In [15]:
diacanal['Fecha'].head()

2066   2018-09-07 00:19:00
2067   2018-09-07 00:34:00
2068   2018-09-07 00:49:00
2069   2018-09-07 01:04:00
2070   2018-09-07 01:19:00
Name: Fecha, dtype: datetime64[ns]

# gráfica de niveles de mar del sensor junto a la estación y el del canal

In [29]:
#un dia
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Scatter(
    x=diaold['Fecha'],
    y=diaold['Nivel'],
    name='estacion',
)
trace2 = go.Scatter(
    x=diaold['Fecha'],
    y=diacanal['Nivel'],
    name='canal',
    yaxis='y2'
)
data = [trace1, trace2]
layout = go.Layout(
    title=' niveles de mar del sensor junto a la estación y el del canal de un dia',
    yaxis=dict(
        title='nivel del mar en la estacion'
    ),
    yaxis2=dict(
        title='nivel del mar en el canal',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right'
    )
)
fig = go.Figure(data=data, layout=layout)
plot_url = py.plot(fig, filename='multiple-axes-double')

# Gráfica de salinidad y nivel de mar del sensor junto a la estación.

In [22]:
diasal.head()

,#,Fecha,Presion,Temp,Nivel,"conductancia especifica, s/cm,","sal, ppt"
2062,2063,2018-09-07 00:15:00,33686,54525.5,28.27,51201.8,33.6219
2063,2064,2018-09-07 00:30:00,33686,54525.5,28.27,51201.8,33.6219
2064,2065,2018-09-07 00:45:00,33686,54525.5,28.27,51201.8,33.6219
2065,2066,2018-09-07 01:00:00,33686,54525.5,28.27,51201.8,33.6219
2066,2067,2018-09-07 01:15:00,33686,54525.5,28.28,51192.2,33.6148

In [30]:
#un dia
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Scatter(
    x=diaold['Fecha'],
    y=diaold['Nivel'],
    name='nivel',
)
trace2 = go.Scatter(
    x=diaold['Fecha'],
    y=diasal['sal, ppt'],
    name='salinidad',
    yaxis='y2'
)
data = [trace1, trace2]
layout = go.Layout(
    title=' salinidad y nivel de mar del sensor en la estación de un dia',
    yaxis=dict(
        title='nivel'
    ),
    yaxis2=dict(
        title='salinidad',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right'
    )
)
fig = go.Figure(data=data, layout=layout)
plot_url = py.plot(fig, filename='multiple-axes-double')

# Gráfica de temperatura de agua entre el sensor junto a la estación y el del canal.

In [31]:
#un dia
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Scatter(
    x=diaold['Fecha'],
    y=diaold['Temp'],
    name='estacion',
)
trace2 = go.Scatter(
    x=diaold['Fecha'],
    y=diacanal['Temp'],
    name='canal',
    yaxis='y2'
)
data = [trace1, trace2]
layout = go.Layout(
    title='Gráfica de temperatura de agua entre el sensor junto a la estación y el del canal de un ida',
    yaxis=dict(
        title='Temperatura en el sensor de la estacion'
    ),
    yaxis2=dict(
        title='Temperatura en el sensor del canal',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right'
    )
)
fig = go.Figure(data=data, layout=layout)
plot_url = py.plot(fig, filename='multiple-axes-double')

# correlación entre el nivel de agua y la salinidad: correlation matrix python heat map

In [ ]:
import numpy as np

np.random.seed(1)

# 1000 random integers between 0 and 50
x = np.random.randint(0, 50, 1000)

# Positive Correlation with some noise
y = x + np.random.normal(0, 10, 1000)

np.corrcoef(x, y)