In [3]:
import pandas as pd

## trabajo de datos

In [10]:
canal = pd.read_csv("sargentocanal.csv", skiprows=2,header=None) 
canal.head()

   0                    1        2       3      4
0  1  08/16/2018 11:15:01  112.032  29.152  0.360
1  2  08/16/2018 11:30:02  111.990  27.567  0.356
2  3  08/16/2018 11:45:03  111.928  27.272  0.350
3  4  08/16/2018 12:00:04  111.899  27.173  0.347
4  5  08/16/2018 12:15:05  111.870  27.075  0.344